html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: auto 0px;
    padding: 0 0 20px;
}

#login{
    padding-bottom: -30px;
    margin-bottom: -30px;
}

#login-title{
    font-size: 30pt;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px #283578 solid;
    color: #283578;
}

.footer {
    height: 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 30px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
	width: 60px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar {
    background-color: #283578;
    background-image: none;
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px;
}

.navbar .nav > li > a {
    color: #FFF;
}

.navbar .nav > li > a:hover {
    color: #FFF;
    background-color: #202d4d;
}

#sidebar{
    position: fixed;
    background-color: #283578;
    width: 200px;
    height: 100%;
    padding-top: 60px;
    margin-top: -50px;
}

.sidebar-element{
    width: 100%;
    font-size: 13pt;
    color:#ffffff;
    padding: 5px 0px 5px 15px;
    background-color: transparent;
    transition: all .5s;
}

.sidebar-element:hover{
    background-color: #202d4d;
}

.detail-1{
    font-size: 16pt;
}

#item1{
    padding-left: 25px;
}

#item2{
    padding-left: 25px;
}

#item3{
    padding-left: 25px;
}

#item4{
    padding-left: 25px;
}

#item5{
    padding-left: 25px;
}

#item6{
    padding-left: 25px;
}

#item7{
    padding-left: 25px;
}

#item8{
    padding-left: 25px;
}

#item9{
    padding-left: 25px;
}

#item10{
    padding-left: 25px;
}

#item11{
    padding-left: 25px;
}

#item12{
    padding-left: 25px;
}

#item13{
    padding-left: 25px;
}

#page-wrapper{
    position: inherit;
    margin: 0 0 0 200px;
    padding: 40px 70px;
    color: #111;
}


